<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>

</head>
<body class="fixed skin-green">

<link type="text/css" charset="utf-8" rel="stylesheet" href="../res_common/oui/ui/ui_common/themes/theme-1.css?_v=1" />
<link rel="stylesheet" charset="utf-8" href="../res_engine/portal/css/portal-1.css" />


<!--这里是页面主容器-->
<oui-view id="portal-view" class="container wrapper" oui-controller="com.oui.portal.PortalController" data="getData()"></oui-view>
<!--头部模板-->
<script type="text/html" id="portal-view-header-tpl">
<header class="main-header">
    <a href="javascript: ;" class="logo">
        <span class="logo-mini hide"></span>
        <span class="logo-lg"><b>X</b>Admin</span>
    </a>
    <nav class="navbar navbar-static-top">
        <!--第一级菜单-->
        <div id="firstnav" class="navbar-firstnav">
            <!-- 边栏切换按钮-->
            <a href="#" class="sidebar-toggle hide"></a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>消息</li>
                    <li>刷新</li>
                    <li>设置</li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</script>
<!--左侧菜单模板-->
<script type="text/html" id="portal-view-menu-tpl">
    <li node-menu-id="{{nodeMenu.id}}" class="node-menu">
        {{if PortalController.hasChildMenus(nodeMenu.id)}}
        <a href="#" url="#" node-menu-id="{{nodeMenu.id}}" oui-e-click="event2clickMenu" >
            <i class="iconfont menu-icon"></i>
            <span>{{nodeMenu.display}}</span>
            <span class="pull-right-container">
                <i class="iconfont menu-icon"> > </i>
            </span>
        </a>
        <ul class="treeview-menu {{PortalController.findChildMenusContainerCls(nodeMenu)}}">
            {{each PortalController.findChildMenus(nodeMenu.id) as childMenu cIndex}}
                {{include 'portal-view-menu-tpl' ({nodeMenu:childMenu})}}
            {{/each}}
        </ul>
        {{else}}
        <a href="#" node-menu-id="{{nodeMenu.id}}" oui-e-click="event2clickMenu">
            <i class="iconfont menu-icon"></i>
            <span>{{nodeMenu.display}}</span>
        </a>
        {{/if}}
    </li>
</script>

<!--菜单导航公共模板-->
<script type="text/html" id="portal-menu-path-tpl">
    {{each PortalController.findPathMenusByMenuId(menuId) as item index}}
    <a href="#" menu-id="{{item.id}}" oui-e-click="com.portal.PortalController.event2doMenuAction">{{item.display}}</a> /
    {{/each}}
    {{if PortalController.findMenuById(menuId)}}
    <a>{{PortalController.findMenuById(menuId).display}}</a>
    {{/if}}
</script>

<!--portal的呈现主体模板-->
<script type="text/html" id="portal-view-tpl">
    {{include 'portal-view-header-tpl'}}
    <aside class="main-sidebar">
        <ul class="sidebar">
            <div class="input-group sidebar-form">
                <input type="text" name="search" class="form-control" placeholder="搜索菜单">
                    <span class="input-group-btn">
                        <i class="iconfont"></i>
                    </span>
            </div>
            <ul class="sidebar-menu">
                {{each PortalController.findRootMenus() as rootMenu rIndex}}
                    {{include 'portal-view-menu-tpl' ({nodeMenu:rootMenu})}}
                {{/each}}
            </ul>
        </ul>
    </aside>
    <div class="content-wrapper">

        <div class="tab-content-wrapper main">
            <div class="content panel">
                <div class="panel-head nav-tabs">
                    <ul class="nav nav-tabs box box-tabs">
                        {{each PortalController.findInnerTabs() as innerTab tabIndex}}
                            {{include 'content-body-tab-label-tpl' ({innerTab:innerTab})}}
                        {{/each}}
                    </ul>
                </div>
                <div class="box-content panel-body">
                    <!-- 引入 html -->
                    {{each PortalController.findInnerTabs() as innerTab tabIndex}}
                    {{include 'content-body-tab-content-tpl' ({innerTab:innerTab})}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer hide"></footer>
</script>

<!--tabs页签标题模板-->
<script type="text/html" id="content-body-tab-label-tpl">
    <li  class="tab-label {{PortalController.findActiveCls(innerTab)}}" node-menu-json="{{oui.parseString(innerTab)}}" oui-e-{{PortalController.data.clickName}}="event2showTabContent"  node-menu-id="{{innerTab.id}}">
        <a >{{innerTab.display}}</a>
        <span class="tab-label-icon" oui-e-{{PortalController.data.clickName}}="event2removeTab" node-menu-json="{{oui.parseString(innerTab)}}"  node-menu-id="{{innerTab.id}}" >x</span>
    </li>
</script>

<!--tabs页签内容模板-->
<script type="text/html" id="content-body-tab-content-tpl">
    <div class="tab-content pg-body {{PortalController.findActiveCls(innerTab)}}" node-menu-id="{{innerTab.id}}" >
        <div class="pg-body-loading">{{innerTab.display}} loading</div>
    </div>
</script>


<script type="text/javascript" charset="utf-8" src="../res_common/third/jquery/jquery-3.2.1.min.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/third/template/template_debug_3_0_0.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-jsclazz.js"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-define.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-tags.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/parser.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-datautils.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-common.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-checkform.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/ui/tpl-type.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/ui/base-control.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/ui/form-control.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/system/oui-biz-ext.js?_v=1"></script>
<script type="text/javascript" charset="utf-8" src="../res_common/oui/ui/ui_pc/dialog/dialog.js"></script>
<!--动态的上下文-->
<script type="text/javascript" src="../context/context.js?_v=1" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8" src="../res_engine/portal/js/portal-require.js?_v=1"></script>

</body>
</html>


